@{
    ViewBag.Title = "Contact";
}

<input type="file" id="file" />
<label for="file" class="file__drop" data-image-uploader>Drop images here</label>
<div>
    <p>Your image:</p>
    <img data-image />
</div>

